#owner-form #parking-wrapper {
    margin-top: 10px;

}

#owner-form #parking-wrapper .radio{
    margin-top: 5px;
}

body {
    background: radial-gradient(circle, rgba(230, 0, 0, 0.5) 40%, #660000);
    font-family: 'Work Sans', sans-serif !important;
}

.app {
    background: #D3D3C5;
    border-radius: 5px;
}

header {
    padding-bottom: 2em;
    color: #232323;
    text-shadow: -2px 2px 8px #989898;
}

header h1{
    font-weight: 900;
    font-family: 'Work Sans', sans-serif;
    font-size: 6em;
    letter-spacing: 0.1em;

}

header h4 {
    font-size: 2em;
    letter-spacing: 0.05em;
    width: 40%;
    margin: 0 auto;
}

legend {
    font-size: 1.5em;
    font-weight: 900;
}

label, #parking-wrapper {
    font-weight: bold !important;
    letter-spacing: 0.025em;
    font-size: 1.2em !important;
}

footer {
    font-size: 2em;
    background: #1F2A3F;
    color: #CCCCCC
}

ul i {
    color: #CCCCCC;
}

ul i:hover {
    color: #85C9AC;
}

.fcc{
    background: #492c14 url('./favicon.png') center no-repeat;
    background-size: cover;
}

i:hover {
    border-bottom: none;
    text-decoration: none;
}